---
subtitle: Tagged Posts
layout: layouts/other.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

{% set taglist = collections[ tag ] %}

{% include "components/taglist.njk" %}

