---
title: List of All Tags
layout: layouts/other.njk
permalink: /tags/
teal: --bs-teal
yellow: --bs-yellow
pink:  --bs-pink
orange: --bs-orange
cyan: --bs-cyan
purple: --bs-purple
red: --bs-red
---



<div class="container">
  <div class="row">
    {% for tag, count  in collections.tagListWithCount %}
        {% if (loop.index % 7) == 1  %}
           {%  set color = cyan %}
        {% elif (loop.index % 7) == 2 %}
            {%  set color = orange %}
        {% elif (loop.index % 7) == 3 %}
            {%  set color = teal %}
        {% elif (loop.index % 7) == 4 %}
            {%  set color = yellow %}
        {% elif (loop.index % 7) == 5 %}
            {%  set color = purple %}
        {% elif (loop.index % 7) == 6 %}
            {%  set color = red %}
        {% else %}
            {%  set color = pink %}
        {% endif %}
     <div class="col-12 col-md-6 col-xl-4 pt-4">
        <div class="card" style="background: var({{ color }});">
            <div class="card-body"><a style="font-size: 36px;color: var(--bs-white);" href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
                <h4 class="card-title" style="color: var(--bs-black);">{{ count }} {{  tag }}</h4>
            </div>
        </div>
     </div>
    {% endfor %}
  </div>
</div>
