.introHeading {
    padding-left: my-5;
    margin-top: 15px;
    margin-bottom:  15px;
}
.pagination__next {
  margin-left: auto;
}

.hero-img {
    max-height: 20rem;
}

.blog-img {
    max-height: 10rem;
}