@import url("https://cdnjs.cloudflare.com/ajax/libs/Primer/19.1.1/tooltips.min.css");

.introHeading {
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom:  15px;
}
.pagination__next {
  margin-left: auto;
}

.hero-img {
    max-height: 20rem;
}

.post-img {
    max-height: 20rem;
     margin-bottom:  5px;
    margin-top:  3px;
}

.blog-img {
    max-height: 10rem;
}

pre {
    border: 1px #0096FF;
    padding: 6px;
    background-color: #87CEEB;
}

.code-copy {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    }

.code-copy > svg {
        fill: white; /* Change SVG icon color */
    }