.introHeading {
    padding-left: my-5;
    margin-top: 15px;
    margin-bottom:  15px;
}
.pagination__next {
  margin-left: auto;
}

.hero-img {
    max-height: 20rem;
}

.post-img {
    max-height: 20rem;
     margin-bottom:  5px;
    margin-top:  3px;
}

.blog-img {
    max-height: 10rem;
}

pre {
    border: 1px forestgreen;
    padding: 6px;
    background-color: #cfc;
}