<div class="container">
<div class="row mx-3">
{% for post in posts %}
    <div class="col-12 col-md-6 col-lg-4 my-3">
        <div class="card h-100">
            <img class="card-img-top w-100 d-block pt-2 blog-img" src="{{ post.data.image }}" />
            <div class="card-body">
                <h4 class="card-title">{{ post.data.title }}</h4>
                <p class=" fw-light text-muted" style="margin-bottom: 1px;">
                    <i class="bi-person-circle" style="width: 8px;height: 8px;"></i>
                    <span style="font-size: 12px;margin-right: 10px;">
                         {{ post.data.author }}
                    </span>
                    <span class="fw-light" style="font-size: 12px;">
                        <i class="bi-clock">
                        </i> {{ post.date | readableDate }}
                    </span>
                </p>
                <p style="margin-top: 0px;font-size: 12px;">
                    <i class="bi-folder" style="width: 8px;height: 8px;"></i>
                    <span class="fw-light" style="margin-left: 14px;">
                    {% for tag in post.data.tags %}
                        {% if tag != 'post' %}
                            <a class="link-secondary" href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
                            {%- if not loop.last %}, {% endif %}
                        {% endif %}
                    {% endfor %}
                    </span>
                </p>
                <p class="card-text" style="margin-top: 9px;">{{ post.data.description }}</p>
                <a class="btn btn-primary" role="button" href="{{ post.url | url }}">Read more</a>
            </div>
        </div>
    </div>
 {% endfor %}
</div>
</div>